
<media-carousel desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height initial-index="{{ default_media.position | minus: 1 }}" {% if section.settings.enable_video_autoplay %}autoplay{% endif %} id="{{ product_gallery_id }}" class="product-gallery__media-list3 product-gallery__media-list full-bleed scroll-area md:unbleed">
 {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(580px, 30vw){%- endcapture -%}
  {% for productimage in collections[product.metafields.custom.productimage].products %} 
 <div class="productsimage">
    {% if productimage.available %}
    <p class="line-item-property__field">
    <label for="your-name{{ forloop.index }}">Your name</label>
    <input id="your-name{{ forloop.index }}" type="text" name="properties[{{ forloop.index }}]">
    </p>
     
      {%- for media in productimage.media  limit:1 -%}
          {%- render 'media', media: media, sizes: sizes, preload: preload, autoplay: section.settings.enable_video_autoplay, loop: section.settings.enable_video_looping, group: 'product' -%}
          <input disabled class="product-title"  type="text" name="properties[{{ productimage.title }}]" value="{{ productimage.title }}">       
       <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
            <div class="form-control products-qty">          
              <quantity-selector class="quantity-selector">
                <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.decrease_quantity' | t }}">{% render 'icon' with 'minus', width: 10, height: 2 %}</button>
                <input id="{{ productimage.title }}" type="text" is="quantity-input" inputmode="numeric" class="quantity-selector__input"  name="quantity" form="{{ form_id }}" size="2" value="0" autocomplete="off">
                <button type="button" class="quantity-selector__button" aria-label="{{ 'product.quantity.increase_quantity' | t }}">{% render 'icon' with 'plus', width: 10, height: 10 %}</button>
              </quantity-selector>
            </div>
          </div>
      {%-  endfor -%}
    {% endif %}
 </div>
 {% endfor %}
</media-carousel>

{% comment %}
 <media-carousel desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height initial-index="{{ default_media.position | minus: 1 }}" {% if section.settings.enable_video_autoplay %}autoplay{% endif %} id="{{ product_gallery_id }}" class="product-gallery__media-list {% if section.settings.mobile_media_size == 'expanded' %}full-bleed{% else %}bleed{% endif %} scroll-area md:unbleed">
        {%- assign media_attached_to_variant = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

        {%- for media in product.media -%}
          {%- case section.settings.desktop_media_layout -%}
            {%- when 'carousel_thumbnails_bottom' -%}
              {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(760px, 42vw){%- endcapture -%}

            {%- when 'carousel_thumbnails_left' -%}
              {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(730px, 40vw){%- endcapture -%}

            {%- when 'grid' -%}
              {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(580px, 30vw){%- endcapture -%}

            {% when 'grid_highlight' %}
              {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), {% if forloop.first or media_attached_to_variant contains media.src %}min(1200px, 60vw){% else %}min(580px, 30vw){% endif %}{%- endcapture -%}
          {%- endcase -%}

          <div class="product-gallery__media {% if media.alt contains '@expand' %}product-gallery__media--expand{% endif %} {% if section.settings.mobile_carousel_control != 'free_scroll' %}snap-center{% endif %}" data-media-type="{{ media.media_type }}" data-media-id="{{ media.id }}" {% if filtered_indexes contains media.position %}hidden{% endif %}>
            {%- if default_media == media -%}
              {%- assign preload = true -%}
            {%- else -%}
              {%- assign preload = false -%}
            {%- endif -%}
{{ media }}???
            {%- render 'media', media: media, sizes: sizes, preload: preload, autoplay: section.settings.enable_video_autoplay, loop: section.settings.enable_video_looping, group: 'product' -%}

            {%- if section.settings.enable_image_zoom and section.settings.desktop_media_layout contains 'grid' and media.media_type == 'image' -%}
              <div class="product-gallery__zoom hidden md:block">
                <button type="button" is="product-zoom-button" class="circle-button circle-button--fill ring">
                  <span class="sr-only">{{ 'product.gallery.zoom' | t }}</span>
                  {%- render 'icon' with 'image-zoom' -%}
                </button>
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </media-carousel>
{%  endcomment %}