
<media-carousels desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height initial-index="{{ default_media.position | minus: 1 }}" {% if section.settings.enable_video_autoplay %}autoplay{% endif %} id="{{ product_gallery_id }}" class="product-gallery__media-list3 product-gallery__media-list full-bleed scroll-area md:unbleed is-scrollable">
 {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(580px, 30vw){%- endcapture -%}
  {% for productimage in collections[product.metafields.custom.productimage].products %} 
  <div class="productsimage">
   
    {% if productimage.available %}
     <div class="product-gallery__media appendpro product_image_size{{ forloop.index }}" data-media-type="media" data-summery-index="{{ forloop.index }}">
          {%- for media in productimage.media  limit:1 -%}
              {%- render 'media', media: media, sizes: sizes, preload: preload, autoplay: section.settings.enable_video_autoplay, loop: section.settings.enable_video_looping, group: 'product' -%}
          {%-  endfor -%}
      <span class="imageproduct-title">{{ productimage.title }}</span>
          <input readonly type="hidden" class="product-title"  type="text"  value="{{ productimage.title }}"> 
          <div class="qtydiv">
            <div class="qtybox">
              <span class="btnqty qtyminus icon icon-minus">-</span>
                <input type="text" id="{{ product_form_id }}-quantity" is="quantity-input" name="quantity" value="0" min="1" class="quantity-selector quantity-input" readonly="" form="{{ form_id }}" >
              <span class="btnqty qtyplus icon icon-plus">+</span>
            </div>
          </div>      
<!--           <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
            <div class="form-control">
              <label for="{{ form_id }}-quantity" class="block-label text-subdued">{{- 'product.quantity.label' | t -}}:</label>
          
              <quantity-selector class="quantity-selector">
                <button type="button" class="quantity-selector__button productqtybtn" aria-label="{{ 'product.quantity.decrease_quantity' | t }}">{% render 'icon' with 'minus', width: 10, height: 2 %}</button>
                <input id="{{ product_form_id }}-quantity" type="text" is="quantity-input" inputmode="numeric" class="quantity-selector__input" name="quantity" form="{{ product_form_id }}" size="2" value="1" autocomplete="off">
                <button type="button" class="quantity-selector__button productqtybtn" aria-label="{{ 'product.quantity.increase_quantity' | t }}">{% render 'icon' with 'plus', width: 10, height: 10 %}</button>
              </quantity-selector>
            </div>
          </div> -->

     </div>
    {% endif %}
    </div>
 {% endfor %}
</media-carousels>
