
<media-carousels desktop-mode="{{ section.settings.desktop_media_layout }}" adaptive-height initial-index="{{ default_media.position | minus: 1 }}" {% if section.settings.enable_video_autoplay %}autoplay{% endif %} id="{{ product_gallery_id }}" class="product-gallery__media-list3 product-gallery__media-list full-bleed scroll-area md:unbleed is-scrollable">
 {%- capture sizes -%}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min(580px, 30vw){%- endcapture -%}
  {% for productimage in collections[product.metafields.custom.productimage].products %} 
  <div class="productsimage">
    <p class="line-item-property__field">
  <input  type="text" name="properties[{{ forloop.index }}]">
</p>
    {% if productimage.available %}
     <div class="product-gallery__media appendpro{{ forloop.index }}" data-media-type="media" >
          {%- for media in productimage.media  limit:1 -%}
              {%- render 'media', media: media, sizes: sizes, preload: preload, autoplay: section.settings.enable_video_autoplay, loop: section.settings.enable_video_looping, group: 'product' -%}
          {%-  endfor -%}
          <input  class="product-title"  type="text"  value="{{ productimage.title }}">       
          <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
            <div class="form-control products-qty">          
              <div class="qtydiv">
              <div class="qtybox">
              <span class="btnqty qtyminus icon icon-minus">-</span>
              <input type="text" id="quantity" name="quantity" value="0" min="0" class="quantity-selector quantity-input" readonly="">
              <span class="btnqty qtyplus icon icon-plus">+</span>
              </div>
              </div>
            </div>
          </div>
     </div>
    {% endif %}
    </div>
 {% endfor %}
</media-carousels>
