{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
PRODUCT CARD COMPONENT
----------------------------------------------------------------------------------------------------------------------

This component is used in collection and featured collection to render a single product as a card

********************************************
Supported variables
********************************************

* product: the product to render
* show_rating: show or not the rating. If nothing is set, the theme uses the default product card setting
* show_vendor: show or not the vendor. If nothing is set, the theme uses the default product card setting
* show_quick_buy: show or not the quick buy. If nothing is set, the theme uses the default product card setting
* show_secondary_image: show or not the secondary image. If nothing is set, the theme uses the default product card setting
* show_swatches: allow to force hiding swatches. If nothing is set, it will default to the default card strategy
* stacked: indicate if the product is in stack mode
* reveal: if set to true the item will be revealed in a stacked mode
* background: the background to use for the product card (if none is passed then the one from the global setting is used)
* text_color: the text color to use for the product card (if none is passed then the one from the global setting is used)
* text_alignment: can be "center". If nothing is set, the theme uses the default product card setting
{%- endcomment -%}

{%- assign show_rating = show_rating | default: settings.show_product_rating, allow_false: true -%}
{%- assign show_vendor = show_vendor | default: settings.show_vendor, allow_false: true -%}
{%- assign show_quick_buy = show_quick_buy | default: settings.show_quick_buy, allow_false: true -%}
{%- assign show_secondary_image = show_secondary_image | default: settings.show_secondary_image, allow_false: true -%}
{%- assign text_alignment = text_alignment | default: settings.product_info_alignment -%}

{%- if stacked and section.settings.products_per_row_mobile == '2' -%}
  {%- assign mobile_reduced = true -%}
{%- endif -%}

{%- assign section_background = section.settings.background_gradient | default: section.settings.background | default: settings.background -%}
{%- assign card_background = background | default: settings.product_card_background -%}
{%- assign card_text_color = text_color | default: settings.product_card_text_color -%}

{%- if section_background != 'rgba(0,0,0,0)' and card_background != 'rgba(0,0,0,0)' and section_background != card_background -%}
  {%- assign card_class = 'product-card ' -%}
{%- else -%}
  {%- assign card_class = 'product-card product-card--blends ' -%}
{%- endif -%}

{%- if show_secondary_image and product.media.size > 1 -%}
  {%- assign card_class = card_class | append: 'product-card--show-secondary-media' -%}
{%- endif -%}

<product-card
  handle="{{ product.handle | escape }}"
  {% if reveal %}reveal-js{% endif %}
  {% render 'surface', class: card_class, background: card_background, text_color: card_text_color %}>
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT BADGES
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}{%- if show_badges and product.media.size > 0 -%}
    {%- render 'product-badges', product: product, class: 'product-card__badge-list' -%}
  {%- endif -%}

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT MEDIA
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- if product.media.size > 0 -%}
    <div class="product-card__figure">
      <a href="{{ product.url }}" data-instant>
        {%- capture sizes -%}
          {%- if stacked -%}
            (max-width: 699px) calc(100vw / {{ section.settings.products_per_row_mobile }} - 40px), (max-width: 1200px) calc(100vw / {{ 3 | at_most: section.settings.products_per_row_desktop }} - 64px), calc(min(100vw - 96px, {{ settings.page_width }}px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
          {%- else -%}
            (max-width: 699px) 74vw, (max-width: 999px) 38vw, calc(min(100vw - 96px, {{ settings.page_width }}px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
          {%- endif -%}
        {%- endcapture -%}

        {%- capture main_image_classes -%}product-card__image product-card__image--primary
          {% if settings.product_image_aspect_ratio contains 'crop' %}object-fill-safe{% endif %}
          aspect-{{ settings.product_image_aspect_ratio | split: '_' | first }}{%- endcapture -%}
        {{- product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800', class: main_image_classes -}}

        {%- if show_secondary_image and product.media.size > 1 -%}
          {%- assign next_media = product.media[product.featured_media.position] | default: product.media[1] -%}
          {{- next_media | image_url: width: next_media.width | image_tag: class: 'product-card__image product-card__image--secondary object-fill', loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800' -}}
        {%- endif -%}
      </a>

      {%- if show_quick_buy and product.available -%}
        <div class="product-card__quick-buy">
          {%- assign quick_add_label = 'product.general.quick_add' | t -%}

          {%- if product.variants.size == 1 and product.selling_plan_groups.size == 0 -%}
            {%- form 'product', product, is: 'product-form' -%}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}">

              <div class="pointer-fine:hidden">
                <button
                  type="submit"
                  is="custom-button"
                  class="product-card__mobile-quick-buy-button"
                  aria-label="{{ quick_add_label | escape }}">
                  {%- render 'icon' with 'quick-buy-cart' -%}
                </button>
              </div>

              <div class="pointer-coarse:hidden">
                {%- render 'button', type: 'submit', content: quick_add_label -%}
              </div>
            {%- endform -%}
          {%- else -%}
            {%- capture quick_buy_id -%}quick-buy-{{ section.id }}-{{ product.id }}{%- endcapture -%}

            <div class="pointer-fine:hidden">
              <button
                type="button"
                aria-controls="{{ quick_buy_id }}"
                aria-expanded="false"
                aria-label="{{ quick_add_label | escape }}"
                is="custom-button"
                class="product-card__mobile-quick-buy-button">
                {%- render 'icon' with 'quick-buy-cart' -%}
              </button>
            </div>

            <div class="pointer-coarse:hidden">
              {%- render 'button', content: quick_add_label, aria_controls: quick_buy_id -%}
            </div>

            <quick-buy-drawer
              id="{{ quick_buy_id }}"
              header-bordered
              open-from="bottom"
              handle="{{ product.handle }}"
              role="region"
              aria-live="polite"
              class="quick-buy-drawer drawer">{%- comment -%}Quick buy content is filled on demand for performance reasons {%- endcomment -%}
            </quick-buy-drawer>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT INFO
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div class="product-card__info {% if text_alignment == 'center' %}product-card__info--center{% endif %}">
    {%- if show_vendor and product.vendor != blank -%}
      {%- if show_rating and text_alignment != 'center' -%}
        <div class="rating-with-text w-full">
          {%- render 'vendor' with product.vendor, class: 'text-xs' -%}

          {%- capture rating_class -%}
            {% if mobile_reduced %}hidden sm:flex{% endif %}
          {%- endcapture -%}
          {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
        </div>
      {%- else -%}
        {%- render 'vendor' with product.vendor, class: 'text-xs' -%}
      {%- endif -%}
    {%- endif -%}

    <div class="v-stack gap-0.5 w-full {% if text_alignment == 'center' %}justify-items-center{% endif %}">
      {%- if show_rating and show_vendor == false or product.vendor == blank -%}
        <div class="rating-with-text">
          <span class="product-card__title">
            <a
              href="{{ product.url }}"
              class="bold"
              data-instant>{{ product.title }}</a>
          </span>

          {%- render 'price-list', product: product, text_alignment: text_alignment -%}

          {% comment %}  
          {%- if text_alignment != 'center' -%}
          {%- capture rating_class -%}
          {% if mobile_reduced %}hidden sm:flex{% endif %}
          {%- endcapture -%}
          {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
          {%- endif -%}
          {% endcomment %}
        </div>
      {%- else -%}
        <span class="product-card__title">
          <a
            href="{{ product.url }}"
            class="bold"
            data-instant>{{ product.title }}</a>
        </span>
      {%- endif -%}

      {% comment %}
      {%- render 'price-list', product: product, text_alignment: text_alignment -%} 
      {% endcomment %}

    </div>
{% comment %}
  start custom code
{% endcomment %}

<div class="collection_product_below_icon_text_new">
              
                <div class="collection_product_below_left_new">
                  <svg width="106" height="20" viewBox="0 0 106 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_311_845)">
<path d="M17.2657 8.15654C17.0237 8.15654 16.7868 8.17714 16.5551 8.21318C16.5911 6.98764 16.5911 5.7312 16.5911 4.47992C16.5911 4.46962 16.5911 4.45417 16.5911 4.44387C16.5963 1.39032 12.2966 0 8.29557 0C4.29969 0 0 1.39032 0 4.44387C0 4.45417 0 4.46447 0 4.47992C0 12.1164 0.0154483 20 8.29557 20C12.3429 20 14.413 18.1153 15.4737 15.3038C16.0299 15.5201 16.6375 15.6385 17.2657 15.6385C20.0206 15.6385 20.0206 13.3883 20.0206 11.9001C20.0206 10.4119 20.0257 8.15654 17.2657 8.15654ZM8.29557 1.02987C10.2369 1.02987 12.1061 1.36972 13.4346 1.96704C14.4078 2.40474 15.5613 3.18744 15.5613 4.44387C15.5613 4.45417 15.5613 4.46962 15.5613 4.47992C15.5613 5.31411 15.0515 6.00412 14.2276 6.5345C13.6457 4.76828 10.9629 3.96498 8.29557 3.96498C5.62822 3.96498 2.94542 4.76828 2.36354 6.5345C1.53965 5.99897 1.02987 5.31411 1.02987 4.47992C1.02987 4.46962 1.02987 4.45417 1.02987 4.44387C1.02987 2.20391 4.68589 1.02987 8.29557 1.02987ZM13.2904 7.02369C11.9259 7.60041 10.103 7.89392 8.29557 7.89392C6.48816 7.89392 4.66529 7.60041 3.30072 7.02369C3.57878 5.70546 6.00412 4.99485 8.29557 4.99485C9.655 4.99485 10.9681 5.23172 11.895 5.64882C12.4768 5.90628 13.1514 6.34912 13.2904 7.02369ZM8.29557 18.9701C2.12667 18.9701 1.1689 14.4284 1.04531 6.79712C1.47786 7.21421 2.04428 7.58496 2.73429 7.89392C4.21215 8.55819 6.18435 8.91864 8.29557 8.91864C11.0917 8.91864 14.0319 8.23378 15.5458 6.78167C15.5355 7.36354 15.5201 7.92482 15.4995 8.47065C14.9331 8.68692 14.413 9.00103 13.9959 9.40783C13.7899 9.6035 13.7848 9.93306 13.9804 10.1339C14.1761 10.3399 14.5057 10.345 14.7065 10.1493C14.9228 9.94336 15.1699 9.76828 15.4377 9.62925C15.3399 11.1946 15.1699 12.5901 14.8713 13.7899C14.655 13.6097 14.4645 13.4037 14.3151 13.1771C14.1555 12.9403 13.8363 12.8733 13.5994 13.033C13.3625 13.1926 13.2956 13.5118 13.4552 13.7487C13.7384 14.1761 14.1195 14.5469 14.5572 14.8404C13.62 17.4974 11.8023 18.9701 8.29557 18.9701ZM17.2657 14.6087C16.7456 14.6087 16.2461 14.5057 15.793 14.3254C16.2204 12.8064 16.4212 11.0762 16.5139 9.2585C16.7559 9.21215 17.0082 9.18641 17.2657 9.18641C18.7436 9.18641 18.9907 9.86097 18.9907 11.895C18.9959 13.9289 18.7436 14.6087 17.2657 14.6087Z" fill="#6E7B8F"></path>
</g>
<path d="M30.0854 9.57L31.9854 6.27C32.0121 6.23667 32.0554 6.18333 32.1154 6.11C32.1821 6.03667 32.2821 6 32.4154 6H33.0954C33.1687 6 33.2321 6.02667 33.2854 6.08C33.3387 6.13333 33.3654 6.19667 33.3654 6.27V12.73C33.3654 12.8033 33.3387 12.8667 33.2854 12.92C33.2321 12.9733 33.1687 13 33.0954 13H32.2854C32.2121 13 32.1487 12.9733 32.0954 12.92C32.0421 12.8667 32.0154 12.8033 32.0154 12.73V8.82L30.7154 11.07C30.6821 11.1233 30.6354 11.18 30.5754 11.24C30.5154 11.2933 30.4387 11.32 30.3454 11.32H29.8254C29.7321 11.32 29.6554 11.2933 29.5954 11.24C29.5354 11.18 29.4887 11.1233 29.4554 11.07L28.1554 8.82V12.73C28.1554 12.8033 28.1287 12.8667 28.0754 12.92C28.0221 12.9733 27.9587 13 27.8854 13H27.0754C27.0021 13 26.9387 12.9733 26.8854 12.92C26.8321 12.8667 26.8054 12.8033 26.8054 12.73V6.27C26.8054 6.19667 26.8321 6.13333 26.8854 6.08C26.9387 6.02667 27.0021 6 27.0754 6H27.7554C27.8887 6 27.9854 6.03667 28.0454 6.11C28.1121 6.18333 28.1587 6.23667 28.1854 6.27L30.0854 9.57ZM38.2106 6C38.3173 6 38.3973 6.03 38.4506 6.09C38.504 6.14333 38.5506 6.22667 38.5906 6.34L41.0406 12.66C41.0473 12.68 41.0506 12.7033 41.0506 12.73C41.0506 12.8033 41.024 12.8667 40.9706 12.92C40.9173 12.9733 40.854 13 40.7806 13H40.0606C39.9273 13 39.834 12.9733 39.7806 12.92C39.7273 12.86 39.6906 12.8033 39.6706 12.75L39.2406 11.64H36.0806L35.6506 12.75C35.6306 12.8033 35.594 12.86 35.5406 12.92C35.4873 12.9733 35.394 13 35.2606 13H34.5406C34.4673 13 34.404 12.9733 34.3506 12.92C34.2973 12.8667 34.2706 12.8033 34.2706 12.73C34.2706 12.7033 34.274 12.68 34.2806 12.66L36.7306 6.34C36.7706 6.22667 36.8173 6.14333 36.8706 6.09C36.924 6.03 37.004 6 37.1106 6H38.2106ZM38.7606 10.39L37.6606 7.54L36.5606 10.39H38.7606ZM47.2716 12.58C47.305 12.6133 47.325 12.6433 47.3316 12.67C47.3383 12.6967 47.3416 12.7167 47.3416 12.73C47.3416 12.8033 47.315 12.8667 47.2616 12.92C47.2083 12.9733 47.145 13 47.0716 13H46.1216C45.9883 13 45.8816 12.9667 45.8016 12.9C45.7216 12.8267 45.675 12.7833 45.6616 12.77L43.3116 10.12V12.73C43.3116 12.8033 43.285 12.8667 43.2316 12.92C43.1783 12.9733 43.115 13 43.0416 13H42.2316C42.1583 13 42.095 12.9733 42.0416 12.92C41.9883 12.8667 41.9616 12.8033 41.9616 12.73V6.27C41.9616 6.19667 41.9883 6.13333 42.0416 6.08C42.095 6.02667 42.1583 6 42.2316 6H43.0416C43.115 6 43.1783 6.02667 43.2316 6.08C43.285 6.13333 43.3116 6.19667 43.3116 6.27V8.62L45.4916 6.22C45.5516 6.15333 45.615 6.1 45.6816 6.06C45.7483 6.02 45.835 6 45.9416 6H46.8616C46.935 6 46.9983 6.02667 47.0516 6.08C47.105 6.13333 47.1316 6.19667 47.1316 6.27C47.1316 6.32333 47.1116 6.37333 47.0716 6.42L44.3816 9.35L47.2716 12.58ZM52.9009 11.75C52.9743 11.75 53.0376 11.7767 53.0909 11.83C53.1443 11.8833 53.1709 11.9467 53.1709 12.02V12.73C53.1709 12.8033 53.1443 12.8667 53.0909 12.92C53.0376 12.9733 52.9743 13 52.9009 13H48.5109C48.4376 13 48.3743 12.9733 48.3209 12.92C48.2676 12.8667 48.2409 12.8033 48.2409 12.73V6.27C48.2409 6.19667 48.2676 6.13333 48.3209 6.08C48.3743 6.02667 48.4376 6 48.5109 6H52.8209C52.8943 6 52.9576 6.02667 53.0109 6.08C53.0643 6.13333 53.0909 6.19667 53.0909 6.27V6.98C53.0909 7.05333 53.0643 7.11667 53.0109 7.17C52.9576 7.22333 52.8943 7.25 52.8209 7.25H49.5909V8.84H52.6009C52.6743 8.84 52.7376 8.86667 52.7909 8.92C52.8443 8.97333 52.8709 9.03667 52.8709 9.11V9.82C52.8709 9.89333 52.8443 9.95667 52.7909 10.01C52.7376 10.0633 52.6743 10.09 52.6009 10.09H49.5909V11.75H52.9009ZM56.8128 5.9C57.2595 5.9 57.6528 5.96 57.9928 6.08C58.3328 6.2 58.6161 6.35 58.8428 6.53C59.0695 6.71 59.2395 6.91 59.3528 7.13C59.4728 7.34333 59.5395 7.54667 59.5528 7.74C59.5595 7.82 59.5328 7.88667 59.4728 7.94C59.4195 7.98667 59.3561 8.01 59.2828 8.01H58.5828C58.4695 8.01 58.3828 7.99 58.3228 7.95C58.2695 7.90333 58.2195 7.84333 58.1728 7.77C58.0728 7.60333 57.9195 7.46 57.7128 7.34C57.5128 7.21333 57.2128 7.15 56.8128 7.15C56.6395 7.15 56.4728 7.17 56.3128 7.21C56.1595 7.24333 56.0228 7.29667 55.9028 7.37C55.7895 7.43667 55.6995 7.52 55.6328 7.62C55.5661 7.72 55.5328 7.83333 55.5328 7.96C55.5328 8.11333 55.5628 8.24 55.6228 8.34C55.6895 8.43333 55.7961 8.51667 55.9428 8.59C56.0961 8.65667 56.2961 8.72 56.5428 8.78C56.7895 8.84 57.0961 8.91 57.4628 8.99C57.8628 9.07667 58.2061 9.18 58.4928 9.3C58.7861 9.41333 59.0228 9.55333 59.2028 9.72C59.3895 9.88 59.5261 10.0667 59.6128 10.28C59.7061 10.4933 59.7528 10.7367 59.7528 11.01C59.7528 11.31 59.6861 11.59 59.5528 11.85C59.4195 12.1033 59.2295 12.3233 58.9828 12.51C58.7361 12.69 58.4328 12.8333 58.0728 12.94C57.7128 13.0467 57.3095 13.1 56.8628 13.1C56.4895 13.1 56.1328 13.0567 55.7928 12.97C55.4528 12.8767 55.1495 12.7467 54.8828 12.58C54.6228 12.4067 54.4128 12.2 54.2528 11.96C54.0928 11.72 54.0028 11.4533 53.9828 11.16C53.9761 11.08 53.9995 11.0167 54.0528 10.97C54.1128 10.9167 54.1795 10.89 54.2528 10.89H54.9528C55.0661 10.89 55.1528 10.91 55.2128 10.95C55.2728 10.99 55.3228 11.05 55.3628 11.13C55.4095 11.2167 55.4661 11.3033 55.5328 11.39C55.5995 11.4767 55.6895 11.5533 55.8028 11.62C55.9161 11.6867 56.0561 11.7433 56.2228 11.79C56.3961 11.83 56.6095 11.85 56.8628 11.85C57.0628 11.85 57.2561 11.8367 57.4428 11.81C57.6295 11.7767 57.7928 11.7267 57.9328 11.66C58.0728 11.5867 58.1861 11.5 58.2728 11.4C58.3595 11.2933 58.4028 11.1633 58.4028 11.01C58.4028 10.8633 58.3561 10.7433 58.2628 10.65C58.1695 10.5567 58.0261 10.4767 57.8328 10.41C57.6461 10.3433 57.4128 10.28 57.1328 10.22C56.8528 10.16 56.5295 10.0833 56.1628 9.99C55.8295 9.91 55.5361 9.81667 55.2828 9.71C55.0361 9.59667 54.8295 9.46 54.6628 9.3C54.5028 9.14 54.3828 8.95333 54.3028 8.74C54.2228 8.52 54.1828 8.26 54.1828 7.96C54.1828 7.66 54.2495 7.38333 54.3828 7.13C54.5161 6.87667 54.6995 6.66 54.9328 6.48C55.1661 6.3 55.4428 6.16 55.7628 6.06C56.0895 5.95333 56.4395 5.9 56.8128 5.9ZM63.3826 6.27C63.3826 6.19667 63.4092 6.13333 63.4626 6.08C63.5159 6.02667 63.5792 6 63.6526 6H67.4126C67.4859 6 67.5492 6.02667 67.6026 6.08C67.6559 6.13333 67.6826 6.19667 67.6826 6.27V6.98C67.6826 7.05333 67.6559 7.11667 67.6026 7.17C67.5492 7.22333 67.4859 7.25 67.4126 7.25H64.6026L64.4926 8.53C64.6726 8.45667 64.8492 8.41333 65.0226 8.4C65.2026 8.38667 65.3492 8.38 65.4626 8.38C65.8359 8.38 66.1826 8.43 66.5026 8.53C66.8226 8.63 67.0992 8.78 67.3326 8.98C67.5659 9.17333 67.7492 9.41333 67.8826 9.7C68.0159 9.98667 68.0826 10.3167 68.0826 10.69C68.0826 11.1167 68.0126 11.4833 67.8726 11.79C67.7392 12.09 67.5526 12.34 67.3126 12.54C67.0792 12.7333 66.8026 12.8767 66.4826 12.97C66.1626 13.0567 65.8226 13.1 65.4626 13.1C65.0026 13.1 64.6059 13.0467 64.2726 12.94C63.9459 12.8333 63.6726 12.69 63.4526 12.51C63.2392 12.3233 63.0759 12.1133 62.9626 11.88C62.8559 11.64 62.7959 11.39 62.7826 11.13C62.7759 11.05 62.7992 10.9867 62.8526 10.94C62.9126 10.8867 62.9792 10.86 63.0526 10.86H63.8626C63.9292 10.86 63.9892 10.8833 64.0426 10.93C64.0959 10.97 64.1326 11.0267 64.1526 11.1C64.1926 11.2533 64.2559 11.38 64.3426 11.48C64.4292 11.5733 64.5292 11.65 64.6426 11.71C64.7559 11.7633 64.8826 11.8 65.0226 11.82C65.1626 11.84 65.3092 11.85 65.4626 11.85C65.8426 11.85 66.1492 11.7467 66.3826 11.54C66.6159 11.3333 66.7326 11.05 66.7326 10.69C66.7326 10.39 66.6159 10.14 66.3826 9.94C66.1492 9.74 65.8426 9.63667 65.4626 9.63C65.2626 9.63 65.1026 9.64667 64.9826 9.68C64.8692 9.70667 64.7759 9.74 64.7026 9.78C64.6292 9.82 64.5626 9.85667 64.5026 9.89C64.4426 9.91667 64.3659 9.93 64.2726 9.93H63.3526C63.2792 9.93 63.2159 9.90333 63.1626 9.85C63.1092 9.79667 63.0826 9.73333 63.0826 9.66L63.3826 6.27ZM74.4461 8.61C74.4528 8.73667 74.4561 8.87667 74.4561 9.03C74.4561 9.18333 74.4561 9.34 74.4561 9.5C74.4561 9.66 74.4561 9.81667 74.4561 9.97C74.4561 10.1233 74.4528 10.2633 74.4461 10.39C74.4261 10.7767 74.3661 11.1367 74.2661 11.47C74.1728 11.7967 74.0194 12.0833 73.8061 12.33C73.5994 12.57 73.3261 12.76 72.9861 12.9C72.6528 13.0333 72.2428 13.1 71.7561 13.1C71.2628 13.1 70.8494 13.0333 70.5161 12.9C70.1828 12.76 69.9094 12.57 69.6961 12.33C69.4894 12.0833 69.3361 11.7967 69.2361 11.47C69.1428 11.1367 69.0861 10.7767 69.0661 10.39C69.0528 10.1367 69.0461 9.85 69.0461 9.53C69.0461 9.20333 69.0528 8.91333 69.0661 8.66C69.0861 8.27333 69.1428 7.91333 69.2361 7.58C69.3361 7.24 69.4894 6.94667 69.6961 6.7C69.9094 6.45333 70.1828 6.26 70.5161 6.12C70.8494 5.97333 71.2628 5.9 71.7561 5.9C72.2428 5.9 72.6528 5.97 72.9861 6.11C73.3261 6.24333 73.5994 6.43333 73.8061 6.68C74.0194 6.92 74.1728 7.20667 74.2661 7.54C74.3661 7.86667 74.4261 8.22333 74.4461 8.61ZM70.4161 10.34C70.4494 10.82 70.5628 11.1933 70.7561 11.46C70.9561 11.72 71.2894 11.85 71.7561 11.85C72.2228 11.85 72.5528 11.72 72.7461 11.46C72.9461 11.1933 73.0628 10.82 73.0961 10.34C73.1094 10.0867 73.1161 9.80667 73.1161 9.5C73.1161 9.19333 73.1094 8.91333 73.0961 8.66C73.0628 8.18 72.9461 7.81 72.7461 7.55C72.5528 7.28333 72.2228 7.15 71.7561 7.15C71.2894 7.15 70.9561 7.28333 70.7561 7.55C70.5628 7.81 70.4494 8.18 70.4161 8.66C70.4028 8.91333 70.3961 9.19333 70.3961 9.5C70.3961 9.80667 70.4028 10.0867 70.4161 10.34ZM82.3749 10.78C82.3883 10.6933 82.4216 10.63 82.4749 10.59C82.5349 10.5433 82.5983 10.52 82.6649 10.52H83.4749C83.5483 10.52 83.6116 10.5467 83.6649 10.6C83.7249 10.6467 83.7516 10.71 83.7449 10.79C83.7249 11.0633 83.6549 11.3367 83.5349 11.61C83.4216 11.8833 83.2449 12.13 83.0049 12.35C82.7649 12.57 82.4616 12.75 82.0949 12.89C81.7283 13.03 81.2849 13.1 80.7649 13.1C80.3049 13.1 79.8983 13.0333 79.5449 12.9C79.1916 12.76 78.8916 12.57 78.6449 12.33C78.3983 12.0833 78.2049 11.79 78.0649 11.45C77.9316 11.11 77.8516 10.74 77.8249 10.34C77.8116 10.0867 77.8049 9.80667 77.8049 9.5C77.8049 9.19333 77.8116 8.91333 77.8249 8.66C77.8516 8.26 77.9316 7.89 78.0649 7.55C78.2049 7.21 78.3983 6.92 78.6449 6.68C78.8916 6.43333 79.1916 6.24333 79.5449 6.11C79.8983 5.97 80.3049 5.9 80.7649 5.9C81.2849 5.9 81.7283 5.97 82.0949 6.11C82.4616 6.25 82.7649 6.43 83.0049 6.65C83.2449 6.87 83.4216 7.12 83.5349 7.4C83.6549 7.67333 83.7249 7.94333 83.7449 8.21C83.7516 8.29 83.7249 8.35667 83.6649 8.41C83.6116 8.45667 83.5483 8.48 83.4749 8.48H82.6649C82.5983 8.48 82.5349 8.46 82.4749 8.42C82.4149 8.37333 82.3783 8.30667 82.3649 8.22C82.3449 8.08667 82.2983 7.95667 82.2249 7.83C82.1516 7.70333 82.0516 7.59 81.9249 7.49C81.7983 7.39 81.6383 7.31 81.4449 7.25C81.2516 7.18333 81.0249 7.15 80.7649 7.15C80.5049 7.15 80.2783 7.19 80.0849 7.27C79.8916 7.35 79.7283 7.45667 79.5949 7.59C79.4683 7.72333 79.3683 7.88333 79.2949 8.07C79.2283 8.25667 79.1883 8.45333 79.1749 8.66C79.1616 8.91333 79.1549 9.19333 79.1549 9.5C79.1549 9.80667 79.1616 10.0867 79.1749 10.34C79.1883 10.5533 79.2283 10.7533 79.2949 10.94C79.3683 11.12 79.4683 11.2767 79.5949 11.41C79.7283 11.5433 79.8916 11.65 80.0849 11.73C80.2783 11.81 80.5049 11.85 80.7649 11.85C81.0249 11.85 81.2516 11.82 81.4449 11.76C81.6383 11.6933 81.7983 11.61 81.9249 11.51C82.0583 11.41 82.1616 11.2967 82.2349 11.17C82.3083 11.0433 82.3549 10.9133 82.3749 10.78ZM90.3209 6C90.3942 6 90.4575 6.02667 90.5109 6.08C90.5642 6.13333 90.5909 6.19667 90.5909 6.27V10.37C90.5909 10.7833 90.5309 11.1567 90.4109 11.49C90.2909 11.8233 90.1109 12.11 89.8709 12.35C89.6309 12.59 89.3309 12.7767 88.9709 12.91C88.6109 13.0367 88.1942 13.1 87.7209 13.1C87.2409 13.1 86.8209 13.0367 86.4609 12.91C86.1075 12.7767 85.8109 12.59 85.5709 12.35C85.3309 12.11 85.1509 11.8233 85.0309 11.49C84.9175 11.1567 84.8609 10.7833 84.8609 10.37V6.27C84.8609 6.19667 84.8875 6.13333 84.9409 6.08C84.9942 6.02667 85.0575 6 85.1309 6H85.9409C86.0142 6 86.0775 6.02667 86.1309 6.08C86.1842 6.13333 86.2109 6.19667 86.2109 6.27V10.32C86.2109 10.5933 86.2475 10.8267 86.3209 11.02C86.3942 11.2133 86.4975 11.3733 86.6309 11.5C86.7642 11.62 86.9242 11.71 87.1109 11.77C87.2975 11.8233 87.5009 11.85 87.7209 11.85C87.9409 11.85 88.1442 11.8233 88.3309 11.77C88.5242 11.71 88.6875 11.62 88.8209 11.5C88.9542 11.3733 89.0575 11.2133 89.1309 11.02C89.2109 10.8267 89.2509 10.5933 89.2509 10.32V6.27C89.2509 6.19667 89.2775 6.13333 89.3309 6.08C89.3842 6.02667 89.4475 6 89.5209 6H90.3209ZM95.0484 6C95.855 6 96.4817 6.19 96.9284 6.57C97.375 6.95 97.5984 7.50667 97.5984 8.24C97.5984 8.97333 97.375 9.53333 96.9284 9.92C96.4817 10.3067 95.855 10.5 95.0484 10.5H93.4484V12.73C93.4484 12.8033 93.4217 12.8667 93.3684 12.92C93.315 12.9733 93.2517 13 93.1784 13H92.3684C92.295 13 92.2317 12.9733 92.1784 12.92C92.125 12.8667 92.0984 12.8033 92.0984 12.73V6.27C92.0984 6.19667 92.125 6.13333 92.1784 6.08C92.2317 6.02667 92.295 6 92.3684 6H95.0484ZM93.4484 9.25H94.9984C95.3784 9.25 95.6817 9.17667 95.9084 9.03C96.135 8.87667 96.2484 8.61333 96.2484 8.24C96.2484 7.86667 96.135 7.61 95.9084 7.47C95.6817 7.32333 95.3784 7.25 94.9984 7.25H93.4484V9.25ZM101.09 5.9C101.537 5.9 101.93 5.96 102.27 6.08C102.61 6.2 102.893 6.35 103.12 6.53C103.347 6.71 103.517 6.91 103.63 7.13C103.75 7.34333 103.817 7.54667 103.83 7.74C103.837 7.82 103.81 7.88667 103.75 7.94C103.697 7.98667 103.633 8.01 103.56 8.01H102.86C102.747 8.01 102.66 7.99 102.6 7.95C102.547 7.90333 102.497 7.84333 102.45 7.77C102.35 7.60333 102.197 7.46 101.99 7.34C101.79 7.21333 101.49 7.15 101.09 7.15C100.917 7.15 100.75 7.17 100.59 7.21C100.437 7.24333 100.3 7.29667 100.18 7.37C100.067 7.43667 99.9768 7.52 99.9102 7.62C99.8435 7.72 99.8102 7.83333 99.8102 7.96C99.8102 8.11333 99.8402 8.24 99.9002 8.34C99.9668 8.43333 100.073 8.51667 100.22 8.59C100.373 8.65667 100.573 8.72 100.82 8.78C101.067 8.84 101.373 8.91 101.74 8.99C102.14 9.07667 102.483 9.18 102.77 9.3C103.063 9.41333 103.3 9.55333 103.48 9.72C103.667 9.88 103.803 10.0667 103.89 10.28C103.983 10.4933 104.03 10.7367 104.03 11.01C104.03 11.31 103.963 11.59 103.83 11.85C103.697 12.1033 103.507 12.3233 103.26 12.51C103.013 12.69 102.71 12.8333 102.35 12.94C101.99 13.0467 101.587 13.1 101.14 13.1C100.767 13.1 100.41 13.0567 100.07 12.97C99.7302 12.8767 99.4268 12.7467 99.1602 12.58C98.9002 12.4067 98.6902 12.2 98.5302 11.96C98.3702 11.72 98.2802 11.4533 98.2602 11.16C98.2535 11.08 98.2768 11.0167 98.3302 10.97C98.3902 10.9167 98.4568 10.89 98.5302 10.89H99.2302C99.3435 10.89 99.4302 10.91 99.4902 10.95C99.5502 10.99 99.6002 11.05 99.6402 11.13C99.6868 11.2167 99.7435 11.3033 99.8102 11.39C99.8768 11.4767 99.9668 11.5533 100.08 11.62C100.193 11.6867 100.333 11.7433 100.5 11.79C100.673 11.83 100.887 11.85 101.14 11.85C101.34 11.85 101.533 11.8367 101.72 11.81C101.907 11.7767 102.07 11.7267 102.21 11.66C102.35 11.5867 102.463 11.5 102.55 11.4C102.637 11.2933 102.68 11.1633 102.68 11.01C102.68 10.8633 102.633 10.7433 102.54 10.65C102.447 10.5567 102.303 10.4767 102.11 10.41C101.923 10.3433 101.69 10.28 101.41 10.22C101.13 10.16 100.807 10.0833 100.44 9.99C100.107 9.91 99.8135 9.81667 99.5602 9.71C99.3135 9.59667 99.1068 9.46 98.9402 9.3C98.7802 9.14 98.6602 8.95333 98.5802 8.74C98.5002 8.52 98.4602 8.26 98.4602 7.96C98.4602 7.66 98.5268 7.38333 98.6602 7.13C98.7935 6.87667 98.9768 6.66 99.2102 6.48C99.4435 6.3 99.7202 6.16 100.04 6.06C100.367 5.95333 100.717 5.9 101.09 5.9Z" fill="#6E7B8F"></path>
<defs>
<clipPath id="clip0_311_845">
<rect width="20.0257" height="20" fill="white"></rect>
</clipPath>
</defs>
</svg>

                </div>
              
              
                <div class="collection_product_below_left_new">
                  <svg width="99" height="20" viewBox="0 0 99 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_190_546)">
<path d="M10.0948 20C9.6559 20 9.19944 19.9509 8.72893 19.849C6.95927 19.4698 5.07725 18.3532 3.43048 16.7065C1.69944 14.9754 0.57584 13.1917 0.172048 11.5414C-0.298458 9.60324 0.214183 7.81251 1.6573 6.36939C4.37851 3.64819 8.14607 4.29425 11.9944 8.13906C13.6411 9.78583 14.7577 11.6679 15.1369 13.4375C15.5618 15.4143 15.0878 17.1559 13.7676 18.4761C12.7598 19.4874 11.5063 20 10.0948 20ZM5.45295 5.76897C4.32233 5.76897 3.30056 6.22192 2.40168 7.11729C1.21489 8.30409 0.807582 9.71209 1.19382 11.2957C1.54845 12.7563 2.58076 14.3715 4.17135 15.9656C6.81531 18.6096 10.5758 20.1826 13.0197 17.7353C14.3504 16.4045 14.3434 14.7858 14.1046 13.6622C13.7676 12.0892 12.7528 10.3933 11.25 8.88695C9.6559 7.29285 8.04073 6.26406 6.58005 5.90942C6.19382 5.81462 5.81812 5.76897 5.45295 5.76897Z" fill="#6E7B8F"></path>
<path d="M12.6298 7.04002C12.6017 7.04002 12.5771 7.03651 12.549 7.03299C12.2611 6.98735 12.0645 6.72049 12.1101 6.43257C12.3805 4.68749 13.3706 4.44521 14.2449 4.23454C14.891 4.07653 15.5581 3.91502 16.2674 3.20926C16.4746 3.0021 16.8081 3.0021 17.0118 3.20926C17.2154 3.41642 17.2189 3.74999 17.0118 3.95364C16.0954 4.87007 15.1684 5.09479 14.4942 5.25982C13.6621 5.46347 13.3145 5.54423 13.1529 6.5976C13.1108 6.85392 12.8861 7.04002 12.6298 7.04002Z" fill="#6E7B8F"></path>
<path d="M16.4606 12.1524C16.3272 12.1524 16.1902 12.0997 16.0884 11.9979C15.8813 11.7907 15.8813 11.4572 16.0884 11.2535C17.6825 9.6594 18.7113 8.04423 19.0659 6.58356C19.4522 4.99999 19.0449 3.59199 17.8581 2.40519C16.6713 1.21839 15.2633 0.811087 13.6797 1.19732C12.219 1.55196 10.6039 2.58426 9.00977 4.17485C8.80261 4.38201 8.46904 4.38201 8.26539 4.17485C8.06173 3.96769 8.05822 3.63412 8.26539 3.43047C12.1172 -0.414334 15.8848 -1.0604 18.606 1.66081C20.0491 3.10392 20.5652 4.89465 20.0912 6.83286C19.6909 8.48314 18.5638 10.2668 16.8328 11.9979C16.731 12.0997 16.5975 12.1524 16.4606 12.1524Z" fill="#6E7B8F"></path>
<path d="M12.0014 16.8855C11.868 16.8855 11.731 16.8329 11.6292 16.731C10.8778 15.9796 10.6355 15.1861 10.4424 14.547C10.1299 13.5183 9.95787 12.9529 7.71067 12.9529C4.97191 12.9529 4.55407 12.0751 4.22753 10.7338C4.06952 10.0878 3.90801 9.42064 3.20225 8.71137C2.99508 8.5042 2.99508 8.17064 3.20225 7.96699C3.40941 7.76333 3.74298 7.75982 3.94663 7.96699C4.86306 8.88342 5.08778 9.81038 5.25281 10.4845C5.48806 11.4536 5.5934 11.8996 7.71067 11.8996C10.5232 11.8996 11.0323 12.8687 11.4501 14.2416C11.6257 14.8209 11.8083 15.4213 12.3736 15.9866C12.5808 16.1938 12.5808 16.5274 12.3736 16.731C12.2718 16.8329 12.1348 16.8855 12.0014 16.8855Z" fill="#6E7B8F"></path>
</g>
<path d="M29.0332 13C28.9599 13 28.8999 12.9767 28.8532 12.93C28.8132 12.8833 28.7932 12.8267 28.7932 12.76V7.58L27.2732 8.75C27.2132 8.79 27.1532 8.80667 27.0932 8.8C27.0332 8.78667 26.9799 8.75 26.9332 8.69L26.5132 8.15C26.4732 8.09 26.4565 8.02667 26.4632 7.96C26.4765 7.89333 26.5132 7.84 26.5732 7.8L28.8132 6.07C28.8532 6.03667 28.8932 6.01667 28.9332 6.01C28.9732 6.00333 29.0165 6 29.0632 6H29.9432C30.0099 6 30.0665 6.02333 30.1132 6.07C30.1599 6.11667 30.1832 6.17333 30.1832 6.24V12.76C30.1832 12.8267 30.1599 12.8833 30.1132 12.93C30.0665 12.9767 30.0099 13 29.9432 13H29.0332ZM34.1721 13.1C33.6988 13.1 33.2954 13.03 32.9621 12.89C32.6288 12.75 32.3554 12.5567 32.1421 12.31C31.9288 12.0633 31.7688 11.78 31.6621 11.46C31.5554 11.1333 31.4921 10.7867 31.4721 10.42C31.4654 10.24 31.4588 10.0433 31.4521 9.83C31.4521 9.61 31.4521 9.39 31.4521 9.17C31.4588 8.95 31.4654 8.74667 31.4721 8.56C31.4854 8.19333 31.5488 7.85 31.6621 7.53C31.7754 7.20333 31.9388 6.92 32.1521 6.68C32.3721 6.44 32.6488 6.25 32.9821 6.11C33.3154 5.97 33.7121 5.9 34.1721 5.9C34.6388 5.9 35.0388 5.97 35.3721 6.11C35.7054 6.25 35.9788 6.44 36.1921 6.68C36.4121 6.92 36.5754 7.20333 36.6821 7.53C36.7954 7.85 36.8588 8.19333 36.8721 8.56C36.8854 8.74667 36.8921 8.95 36.8921 9.17C36.8921 9.39 36.8921 9.61 36.8921 9.83C36.8921 10.0433 36.8854 10.24 36.8721 10.42C36.8588 10.7867 36.7988 11.1333 36.6921 11.46C36.5854 11.78 36.4254 12.0633 36.2121 12.31C35.9988 12.5567 35.7221 12.75 35.3821 12.89C35.0488 13.03 34.6454 13.1 34.1721 13.1ZM34.1721 11.95C34.6054 11.95 34.9221 11.81 35.1221 11.53C35.3288 11.2433 35.4354 10.8567 35.4421 10.37C35.4554 10.1767 35.4621 9.98333 35.4621 9.79C35.4621 9.59 35.4621 9.39 35.4621 9.19C35.4621 8.99 35.4554 8.8 35.4421 8.62C35.4354 8.14667 35.3288 7.76667 35.1221 7.48C34.9221 7.18667 34.6054 7.04 34.1721 7.04C33.7454 7.04 33.4288 7.18667 33.2221 7.48C33.0221 7.76667 32.9154 8.14667 32.9021 8.62C32.9021 8.8 32.8988 8.99 32.8921 9.19C32.8921 9.39 32.8921 9.59 32.8921 9.79C32.8988 9.98333 32.9021 10.1767 32.9021 10.37C32.9154 10.8567 33.0254 11.2433 33.2321 11.53C33.4388 11.81 33.7521 11.95 34.1721 11.95ZM40.7444 13.1C40.271 13.1 39.8677 13.03 39.5344 12.89C39.201 12.75 38.9277 12.5567 38.7144 12.31C38.501 12.0633 38.341 11.78 38.2344 11.46C38.1277 11.1333 38.0644 10.7867 38.0444 10.42C38.0377 10.24 38.031 10.0433 38.0244 9.83C38.0244 9.61 38.0244 9.39 38.0244 9.17C38.031 8.95 38.0377 8.74667 38.0444 8.56C38.0577 8.19333 38.121 7.85 38.2344 7.53C38.3477 7.20333 38.511 6.92 38.7244 6.68C38.9444 6.44 39.221 6.25 39.5544 6.11C39.8877 5.97 40.2844 5.9 40.7444 5.9C41.211 5.9 41.611 5.97 41.9444 6.11C42.2777 6.25 42.551 6.44 42.7644 6.68C42.9844 6.92 43.1477 7.20333 43.2544 7.53C43.3677 7.85 43.431 8.19333 43.4444 8.56C43.4577 8.74667 43.4644 8.95 43.4644 9.17C43.4644 9.39 43.4644 9.61 43.4644 9.83C43.4644 10.0433 43.4577 10.24 43.4444 10.42C43.431 10.7867 43.371 11.1333 43.2644 11.46C43.1577 11.78 42.9977 12.0633 42.7844 12.31C42.571 12.5567 42.2944 12.75 41.9544 12.89C41.621 13.03 41.2177 13.1 40.7444 13.1ZM40.7444 11.95C41.1777 11.95 41.4944 11.81 41.6944 11.53C41.901 11.2433 42.0077 10.8567 42.0144 10.37C42.0277 10.1767 42.0344 9.98333 42.0344 9.79C42.0344 9.59 42.0344 9.39 42.0344 9.19C42.0344 8.99 42.0277 8.8 42.0144 8.62C42.0077 8.14667 41.901 7.76667 41.6944 7.48C41.4944 7.18667 41.1777 7.04 40.7444 7.04C40.3177 7.04 40.001 7.18667 39.7944 7.48C39.5944 7.76667 39.4877 8.14667 39.4744 8.62C39.4744 8.8 39.471 8.99 39.4644 9.19C39.4644 9.39 39.4644 9.59 39.4644 9.79C39.471 9.98333 39.4744 10.1767 39.4744 10.37C39.4877 10.8567 39.5977 11.2433 39.8044 11.53C40.011 11.81 40.3244 11.95 40.7444 11.95ZM45.1366 13C44.9966 13 44.9266 12.9333 44.9266 12.8C44.9266 12.76 44.94 12.7233 44.9666 12.69L49.8966 6.19C49.9433 6.13 49.99 6.08333 50.0366 6.05C50.0833 6.01667 50.15 6 50.2366 6H50.7666C50.9066 6 50.9766 6.06667 50.9766 6.2C50.9766 6.24 50.9633 6.27667 50.9366 6.31L46.0066 12.81C45.96 12.87 45.9133 12.9167 45.8666 12.95C45.8266 12.9833 45.76 13 45.6666 13H45.1366ZM49.9466 13.06C49.5 13.06 49.1466 12.9367 48.8866 12.69C48.6266 12.4433 48.4833 12.12 48.4566 11.72C48.45 11.5467 48.4466 11.3967 48.4466 11.27C48.4466 11.1433 48.45 10.9867 48.4566 10.8C48.4833 10.4 48.62 10.0767 48.8666 9.83C49.12 9.58333 49.48 9.46 49.9466 9.46C50.42 9.46 50.78 9.58333 51.0266 9.83C51.28 10.0767 51.4166 10.4 51.4366 10.8C51.45 10.9867 51.4566 11.1433 51.4566 11.27C51.4566 11.3967 51.45 11.5467 51.4366 11.72C51.4166 12.12 51.2733 12.4433 51.0066 12.69C50.7466 12.9367 50.3933 13.06 49.9466 13.06ZM49.9466 12.28C50.0933 12.28 50.2066 12.25 50.2866 12.19C50.3733 12.13 50.4366 12.0533 50.4766 11.96C50.5166 11.8667 50.5366 11.7733 50.5366 11.68C50.55 11.5133 50.5566 11.3733 50.5566 11.26C50.5566 11.14 50.55 11.0033 50.5366 10.85C50.53 10.69 50.4833 10.5467 50.3966 10.42C50.31 10.2933 50.16 10.23 49.9466 10.23C49.74 10.23 49.5933 10.2933 49.5066 10.42C49.42 10.5467 49.37 10.69 49.3566 10.85C49.35 11.0033 49.3466 11.14 49.3466 11.26C49.3466 11.3733 49.35 11.5133 49.3566 11.68C49.37 11.7733 49.3933 11.8667 49.4266 11.96C49.4666 12.0533 49.5266 12.13 49.6066 12.19C49.6933 12.25 49.8066 12.28 49.9466 12.28ZM45.9566 9.52C45.51 9.52 45.1566 9.40333 44.8966 9.17C44.6366 8.93667 44.4933 8.62 44.4666 8.22C44.46 8.04667 44.4566 7.89667 44.4566 7.77C44.4566 7.63667 44.46 7.47667 44.4666 7.29C44.4933 6.89 44.63 6.56667 44.8766 6.32C45.13 6.07333 45.49 5.95 45.9566 5.95C46.43 5.95 46.79 6.07333 47.0366 6.32C47.29 6.56667 47.4266 6.89 47.4466 7.29C47.46 7.47667 47.4666 7.63667 47.4666 7.77C47.4666 7.89667 47.46 8.04667 47.4466 8.22C47.4266 8.62 47.2833 8.93667 47.0166 9.17C46.7566 9.40333 46.4033 9.52 45.9566 9.52ZM45.9566 8.78C46.1033 8.78 46.2166 8.75 46.2966 8.69C46.3833 8.63 46.4466 8.55333 46.4866 8.46C46.5266 8.36667 46.5466 8.27 46.5466 8.17C46.56 8.00333 46.5666 7.86333 46.5666 7.75C46.5666 7.63 46.56 7.49333 46.5466 7.34C46.54 7.18667 46.4933 7.04667 46.4066 6.92C46.32 6.79333 46.17 6.73 45.9566 6.73C45.75 6.73 45.6033 6.79333 45.5166 6.92C45.43 7.04667 45.3833 7.18667 45.3766 7.34C45.37 7.49333 45.3666 7.63 45.3666 7.75C45.3666 7.86333 45.37 8.00333 45.3766 8.17C45.3833 8.27 45.4033 8.36667 45.4366 8.46C45.4766 8.55333 45.5366 8.63 45.6166 8.69C45.7033 8.75 45.8166 8.78 45.9566 8.78ZM54.2499 13C54.1966 13 54.1466 12.98 54.0999 12.94C54.0599 12.9 54.0399 12.85 54.0399 12.79C54.0399 12.7633 54.0466 12.7333 54.0599 12.7L56.4699 6.25C56.4899 6.18333 56.5266 6.12667 56.5799 6.08C56.6399 6.02667 56.7199 6 56.8199 6H57.9099C58.0099 6 58.0866 6.02667 58.1399 6.08C58.1932 6.12667 58.2332 6.18333 58.2599 6.25L60.6699 12.7C60.6766 12.7333 60.6799 12.7633 60.6799 12.79C60.6799 12.85 60.6599 12.9 60.6199 12.94C60.5799 12.98 60.5332 13 60.4799 13H59.6099C59.5166 13 59.4466 12.98 59.3999 12.94C59.3599 12.8933 59.3332 12.85 59.3199 12.81L58.8499 11.59H55.8799L55.4099 12.81C55.3966 12.85 55.3666 12.8933 55.3199 12.94C55.2799 12.98 55.2132 13 55.1199 13H54.2499ZM56.2299 10.44H58.4999L57.3599 7.35L56.2299 10.44ZM61.8535 13C61.7868 13 61.7302 12.9767 61.6835 12.93C61.6368 12.8833 61.6135 12.8267 61.6135 12.76V6.25C61.6135 6.17667 61.6368 6.11667 61.6835 6.07C61.7302 6.02333 61.7868 6 61.8535 6H64.4435C65.2502 6 65.8868 6.18667 66.3535 6.56C66.8202 6.93333 67.0535 7.47667 67.0535 8.19C67.0535 8.68333 66.9302 9.09333 66.6835 9.42C66.4435 9.74667 66.1202 9.98333 65.7135 10.13L67.1735 12.68C67.1935 12.72 67.2035 12.7567 67.2035 12.79C67.2035 12.85 67.1802 12.9 67.1335 12.94C67.0935 12.98 67.0468 13 66.9935 13H66.0835C65.9702 13 65.8835 12.97 65.8235 12.91C65.7635 12.85 65.7168 12.79 65.6835 12.73L64.3935 10.36H63.0035V12.76C63.0035 12.8267 62.9802 12.8833 62.9335 12.93C62.8935 12.9767 62.8368 13 62.7635 13H61.8535ZM63.0035 9.23H64.4135C64.8202 9.23 65.1235 9.14 65.3235 8.96C65.5235 8.77333 65.6235 8.51333 65.6235 8.18C65.6235 7.84667 65.5235 7.58667 65.3235 7.4C65.1302 7.20667 64.8268 7.11 64.4135 7.11H63.0035V9.23ZM67.912 13C67.8587 13 67.8087 12.98 67.762 12.94C67.722 12.9 67.702 12.85 67.702 12.79C67.702 12.7633 67.7087 12.7333 67.722 12.7L70.132 6.25C70.152 6.18333 70.1887 6.12667 70.242 6.08C70.302 6.02667 70.382 6 70.482 6H71.572C71.672 6 71.7487 6.02667 71.802 6.08C71.8553 6.12667 71.8953 6.18333 71.922 6.25L74.332 12.7C74.3387 12.7333 74.342 12.7633 74.342 12.79C74.342 12.85 74.322 12.9 74.282 12.94C74.242 12.98 74.1953 13 74.142 13H73.272C73.1787 13 73.1087 12.98 73.062 12.94C73.022 12.8933 72.9953 12.85 72.982 12.81L72.512 11.59H69.542L69.072 12.81C69.0587 12.85 69.0287 12.8933 68.982 12.94C68.942 12.98 68.8753 13 68.782 13H67.912ZM69.892 10.44H72.162L71.022 7.35L69.892 10.44ZM75.5156 13C75.4489 13 75.3923 12.9767 75.3456 12.93C75.2989 12.8833 75.2756 12.8267 75.2756 12.76V6.25C75.2756 6.17667 75.2989 6.11667 75.3456 6.07C75.3923 6.02333 75.4489 6 75.5156 6H78.4156C78.9556 6 79.3956 6.08333 79.7356 6.25C80.0756 6.41 80.3256 6.63333 80.4856 6.92C80.6523 7.20667 80.7356 7.54 80.7356 7.92C80.7356 8.17333 80.6889 8.39667 80.5956 8.59C80.5089 8.77667 80.3989 8.93 80.2656 9.05C80.1389 9.17 80.0123 9.26333 79.8856 9.33C80.1456 9.45 80.3756 9.65 80.5756 9.93C80.7756 10.21 80.8756 10.5433 80.8756 10.93C80.8756 11.33 80.7856 11.6867 80.6056 12C80.4256 12.3133 80.1589 12.56 79.8056 12.74C79.4523 12.9133 79.0156 13 78.4956 13H75.5156ZM76.6656 11.94H78.3356C78.6956 11.94 78.9689 11.8433 79.1556 11.65C79.3423 11.45 79.4356 11.21 79.4356 10.93C79.4356 10.6367 79.3389 10.3933 79.1456 10.2C78.9589 10.0067 78.6889 9.91 78.3356 9.91H76.6656V11.94ZM76.6656 8.87H78.2356C78.5889 8.87 78.8523 8.78667 79.0256 8.62C79.2056 8.44667 79.2956 8.22333 79.2956 7.95C79.2956 7.67 79.2056 7.45 79.0256 7.29C78.8523 7.13 78.5889 7.05 78.2356 7.05H76.6656V8.87ZM82.3711 13C82.3044 13 82.2477 12.9767 82.2011 12.93C82.1544 12.8833 82.1311 12.8267 82.1311 12.76V6.24C82.1311 6.17333 82.1544 6.11667 82.2011 6.07C82.2477 6.02333 82.3044 6 82.3711 6H83.3111C83.3844 6 83.4411 6.02333 83.4811 6.07C83.5277 6.11667 83.5511 6.17333 83.5511 6.24V12.76C83.5511 12.8267 83.5277 12.8833 83.4811 12.93C83.4411 12.9767 83.3844 13 83.3111 13H82.3711ZM87.8194 13.1C87.1994 13.1 86.6727 12.9933 86.2394 12.78C85.8127 12.56 85.486 12.25 85.2594 11.85C85.0327 11.4433 84.906 10.9567 84.8794 10.39C84.8727 10.1167 84.8694 9.82333 84.8694 9.51C84.8694 9.19667 84.8727 8.89667 84.8794 8.61C84.906 8.05 85.0327 7.56667 85.2594 7.16C85.4927 6.75333 85.8227 6.44333 86.2494 6.23C86.6827 6.01 87.206 5.9 87.8194 5.9C88.2727 5.9 88.6794 5.96 89.0394 6.08C89.3994 6.2 89.706 6.36667 89.9594 6.58C90.2127 6.78667 90.4094 7.03 90.5494 7.31C90.6894 7.59 90.7627 7.89333 90.7694 8.22C90.776 8.28 90.756 8.33 90.7094 8.37C90.6694 8.41 90.6194 8.43 90.5594 8.43H89.6094C89.536 8.43 89.476 8.41333 89.4294 8.38C89.3827 8.34 89.3494 8.27667 89.3294 8.19C89.2227 7.75 89.0394 7.45 88.7794 7.29C88.5194 7.13 88.196 7.05 87.8094 7.05C87.3627 7.05 87.006 7.17667 86.7394 7.43C86.4727 7.67667 86.3294 8.08667 86.3094 8.66C86.2894 9.20667 86.2894 9.76667 86.3094 10.34C86.3294 10.9133 86.4727 11.3267 86.7394 11.58C87.006 11.8267 87.3627 11.95 87.8094 11.95C88.196 11.95 88.5194 11.87 88.7794 11.71C89.046 11.5433 89.2294 11.2433 89.3294 10.81C89.3494 10.7167 89.3827 10.6533 89.4294 10.62C89.476 10.5867 89.536 10.57 89.6094 10.57H90.5594C90.6194 10.57 90.6694 10.59 90.7094 10.63C90.756 10.67 90.776 10.72 90.7694 10.78C90.7627 11.1067 90.6894 11.41 90.5494 11.69C90.4094 11.97 90.2127 12.2167 89.9594 12.43C89.706 12.6367 89.3994 12.8 89.0394 12.92C88.6794 13.04 88.2727 13.1 87.8194 13.1ZM91.4472 13C91.3938 13 91.3438 12.98 91.2972 12.94C91.2572 12.9 91.2372 12.85 91.2372 12.79C91.2372 12.7633 91.2438 12.7333 91.2572 12.7L93.6672 6.25C93.6872 6.18333 93.7238 6.12667 93.7772 6.08C93.8372 6.02667 93.9172 6 94.0172 6H95.1072C95.2072 6 95.2838 6.02667 95.3372 6.08C95.3905 6.12667 95.4305 6.18333 95.4572 6.25L97.8672 12.7C97.8738 12.7333 97.8772 12.7633 97.8772 12.79C97.8772 12.85 97.8572 12.9 97.8172 12.94C97.7772 12.98 97.7305 13 97.6772 13H96.8072C96.7138 13 96.6438 12.98 96.5972 12.94C96.5572 12.8933 96.5305 12.85 96.5172 12.81L96.0472 11.59H93.0772L92.6072 12.81C92.5938 12.85 92.5638 12.8933 92.5172 12.94C92.4772 12.98 92.4105 13 92.3172 13H91.4472ZM93.4272 10.44H95.6972L94.5572 7.35L93.4272 10.44Z" fill="#6E7B8F"></path>
<defs>
<clipPath id="clip0_190_546">
<rect width="20.2633" height="20" fill="white"></rect>
</clipPath>
</defs>
</svg>

                </div>
              
            </div>

{% comment %}
  end custom code
{% endcomment %}


    {%- if show_rating and mobile_reduced or text_alignment == 'center' -%}
      {%- capture rating_class -%}
        {% unless text_alignment == 'center' %}sm:hidden{% endunless %}
      {%- endcapture -%}
      {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
    {%- endif -%}

    {%- if settings.product_color_display != 'hide' and show_swatches != false -%}
      {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}

      {%- for color_label in color_label_list -%}
        {%- if product.options_by_name[color_label] != blank -%}
          {%- assign product_option = product.options_by_name[color_label] -%}
          {%- capture name -%}swatch-{{ section.id }}-{{ product.id }}-{{ product_option.position }}{%- endcapture -%}

          <div class="product-card__aside">
            {%- case settings.product_color_display -%}
              {%- when 'count' -%}
              <p class="product-card__color-count text-sm text-subdued">{{- 'product.general.available_colors_count' | t: count: product_option.values.size -}}</p>

              {%- when 'swatch' -%}
              <fieldset class="product-card__swatch-list h-stack {% if settings.color_swatch_style == 'rectangle' %}gap-2.5{% else %}gap-0.5{% endif %}" data-option-position="{{ product_option.position }}">
                {%- for option_value in product_option.values limit: 4 -%}
                  {%- if forloop.first or product.selected_or_first_available_variant.matched and option_value == product_option.selected_value -%}
                    {%- assign selected = true -%}
                  {%- else -%}
                    {% assign selected = false %}
                  {%- endif -%}

                  {%- render 'swatch' with 'color', value: option_value, name: name, size: 'sm', selected: selected -%}
                {%- endfor -%}

                {% if product_option.values.size > 4 %}
                  <a
                    href="{{ product.url }}"
                    data-instant
                    class="color-swatch__view-more {% if settings.color_swatch_style == 'round' %}rounded-full{% endif %} text-xxs text-subdued">+{{ product_option.values.size | minus: 4 }}</a>
                {% endif %}
              </fieldset>

              {%- when 'variant' -%}
              <fieldset class="product-card__variant-list" data-option-position="{{ product_option.position }}">
                {%- for option_value in product_option.values limit: 4 -%}
                  {%- assign variant_option = 'option' | append: product_option.position -%}
                  {%- assign variant_for_value = product.variants | where: variant_option, option_value | first -%}

                  {%- if forloop.first or variant_for_value.matched and option_value == product_option.selected_value -%}
                    {%- assign selected = true -%}
                  {%- else -%}
                    {% assign selected = false %}
                  {%- endif -%}

                  {%- render 'swatch' with 'media', media: variant_for_value.featured_media, value: option_value, name: name, size: 'sm', selected: selected -%}
                {%- endfor -%}

                {%- if product_option.values.size > 4 -%}
                  <a
                    href="{{ product.url }}"
                    data-instant
                    class="media-swatch__view-more text-xs text-subdued">+{{ product_option.values.size | minus: 4 }}</a>
                {%- endif -%}
              </fieldset>
            {%- endcase -%}
          </div>

          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</product-card>